@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap');

/*Estilização do texto Stop&Pass*/
.navbar-brand {
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover {
    color: #555;
    transform: scale(1.1);
}